extends layout

block content
  .row
    .span12
      .site
        h3 LA.js Jobs
      .back
        a(href='/jobs') Back to Jobs


  .job
    .summary.page-header
      .position
        h1= job.position
      .company
        h2= job.company
      .location
        h3= job.location
      .url
        a(href=job.company_url)
          = job.company_url
      .created_at
        | posted 
        time.timeago(datetime=job.created_at.toISOString())

    .body.row
      .span12
        != body