extends ../layout

append header

block content

  if(activeJobs.length)
    .jobs

      table.table.table-striped
        thead
          tr
            th
              | Active Listings
        tbody
          each job in activeJobs
            tr
              td
                a(href="/jobs/#{job._id}")
                  span.position
                    = job.position
                  span.filler at
                  span.company
                    = job.company
                  span.filler in
                  span.location
                    = job.location
                  span.created_at
                    time.timeago(datetime=job.activated_at.toISOString())
              td
                a(href="/jobs/edit/#{job._id}")
                  | Edit


  if(inactiveJobs.length)
    .jobs

      table.table.table-striped
        thead
          tr
            th
              | Inactive Listings
        tbody
          each job in inactiveJobs
            tr
              td
                a(href="/jobs/#{job._id}")
                  span.position
                    = job.position
                  span.filler at
                  span.company
                    = job.company
                  span.filler in
                  span.location
                    = job.location
                  if job.activated_at
                    span.created_at
                      time.timeago(datetime=job.activated_at.toISOString())
              td
                a(href="/jobs/edit/#{job._id}")
                  | Edit
              td
                a(href="/jobs/activate/#{job._id}")
                  | Activate

