extends ../layout

block content
  
  .page-header
    h1 My Postings
    
    
  .jobs.row
    .span12
  
      table.table.table-striped.table-bordered
        thead
          tr
            td
              | Your Active Postings
        tbody
          each job in activeJobs
            tr
              td
                a(href="/jobs/#{job._id}")
                  span.position
                    = job.position
                  span.filler at
                  span.company
                    = job.company
                  span.filler in
                  span.location
                    = job.location
                  span.created_at
                    time.timeago(datetime=job.activated_at.toISOString())
              td
                a(href="/jobs/edit/#{job._id}")
                  | Edit

                    
  .jobs.row
      .span12
    
        table.table.table-striped.table-bordered
          thead
            tr
              td
                | Hidden Postings
          tbody
            each job in inactiveJobs
              tr
                td
                  a(href="/jobs/#{job._id}")
                    span.position
                      = job.position
                    span.filler at
                    span.company
                      = job.company
                    span.filler in
                    span.location
                      = job.location
                    if job.activated_at
                      span.created_at
                        time.timeago(datetime=job.activated_at.toISOString())
                td
                  a(href="/jobs/edit/#{job._id}")
                    | Edit
                td
                  a(href="/jobs/activate/#{job._id}")
                    | Activate
                    