extends ../layout

append header
  .back
    a(href='/my/jobs') Back to My Jobs

block content

  .job
    .summary.page-header
      .position
        h1= job.position
      .company
        h2= job.company
      .location
        h3= job.location
      .url
        a(href=job.company_url)
          = job.company_url
      .created_at
        | posted 
        time.timeago(datetime=job.created_at.toISOString())

    form(action='', method='POST', class='payment-form')
      .form-row
        label Card Number
        input(type='text', size='20', autocomplete='off', class='card-number')
      
      .form-row
        label CVC
        input(type='text', size='4', autocomplete='off', class='card-cvc')

      .form-row
        label Expiration (MM/YYYY)
        input(type='text', size='2', class='card-expiry-month')
        span /
        input(type='text', size='4', class='card-expiry-year')
      
      button(type='submit', class='submit-button') Submit Payment
    