extends ../layout

append header

block content
  .padded-content
    .summary.page-header
      if (job.logo_url)
        img.logo.pull-right(src='#{job.logo_url}', style='max-width:160px;max-height:160px;')
      .position
        h1= job.position
      .company
        h2= job.company
      .location
        h3= job.location
      .url
        a(href=job.company_url)
          = job.company_url
      .created_at
        p
          small
            | posted 
            time.timeago(datetime=job.created_at.toISOString())
      .social
        a(href="https://twitter.com/share", class="twitter-share-button", data-via="losangelesJS", data-count="none") Tweet
        script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        a.email-btn.btn.btn-mini(href=emailLink)
          i.icon-envelope
          | Email

    != body

    hr

    h4 How to apply
    p= job.how_to_apply
